$theme-colors: (
  "base": #3C99DC,
  "important": #2565AE,
  "warning": #D5F3FE,
);

$theme-box: ("shadow": 0.2rem 0.2rem 0.2rem #AAA);

$border-radius: 0.2rem;

$theme-fonts: (
  "primary": "Times New Roman",
  "secondary": "Times New Roman",
);
