$theme-colors: (
  "base": #E03C3C,
  "important": #8E0E18,
  "warning": #FCD1D6,
);

$theme-box: ("shadow": -0.2rem 0.2rem 0.2rem #AAA);

$border-radius: 0;

$theme-fonts: (
  "primary": Arial,
  "secondary": Courier,
);
