@use "sass:map";

/* ### Import red theme ### */
// @import "red-theme";

/* ### Import blue theme ### */
@import "blue-theme";


@import "mixins";
@import "https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap";

@include bg-color-generator($theme-colors);
@include font-family-generator($theme-fonts);


:root {
    font-family: 'Balsamiq Sans';
}



/* Layout */
.container {
    display: flex;
    flex-direction: column;
    width: 7rem;
    margin: auto;

    span {
        margin: 0.5rem 0;    
    }
    .box{
        margin: 0.1rem 0;
        padding: 2rem 1rem;
        border: 1px solid #ccc;
        border-radius: $border-radius;
        &.box-shadow{
            box-shadow: map.get($theme-box, "shadow");;
        }
    }

}




